@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

hr {
  height: 1px;
  background-color: #b5d1ce;
}

/* barra de navegacion */
#frente {
  position: fixed;
}

#navega {
  list-style: none;
  padding: 0;
  background: #000;
  width: 37%;
  height: 25%;
  border-radius: 30px;
  margin: auto;
}

#navega ul a {
  list-style: none;
  padding: 15px;
  color: #fcffff;
  display: block;
  text-decoration: none;
  text-align: center;
}

#navega li {
  display: inline-block;
  text-align: center;
}

#navega ul li a:hover {
  background-color: #3c6662;
  color: #ffffff;
}

/* catalogo */
.catalogo {
  max-width: 1100px;
  top: 50%;
  width: 100%;
  height: 90%;
  margin: auto;
  display: flex;
}

.fila {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.fila img {
  max-width: 400px;
  padding: auto;
  justify-content: center;
}

.fila .item {
  max-width: 400px;
  padding: 40px;
  height: 400px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s;
}

.fila .item:hover {
  background: rgb(63, 163, 140);
  background: linear-gradient(0deg, rgba(63, 163, 140, 0.4719827586206896) 0%, rgba(46, 108, 116, 0.3900862068965517) 100%);

}

.fila .item img {
  width: 100%;
  margin: auto;
}

.fila .item .descripcion {
  color: black;
  font-weight: bold;
}

.fila .item .precio {
  color: rgb(7, 19, 18);
  font-weight: bold;
  font-size: 20px;
}

/* Perzonalizacion filtros */

select{
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	max-width: 250px;
	position: relative;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  padding: 5px; /* Ajusta el espaciado interno si lo deseas */
  margin-left: 10px;
}
 
select{
	display: inline-block;
	width: 100%;
  top: 5px;
  bottom: 10px;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 35px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #feffff;
	color: #fdfdfd;
	font-size: 1em;
	color: #aaaaaa;
	font-family: 'Quicksand', sans-serif;
	border:2px solid rgba(255, 249, 249, 0.2);
    border-radius: 5px;
    position: relative;
    transition: all 0.25s ease;
}
 
 select:hover{
	border-bottom-color: #020303;
}
 

#filtro div {
  margin-bottom: 5px;
}

#catalogo .item {
  display: inline-block;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

#filtro {
  display: none;
  position: relative;
  left: 20px;
  width: 400px;
  height: 100px;
}

#toggleButton {
  right: 200px;
}

.botfiltro {
  border: none;
  background: rgb(232,224,219);
background: radial-gradient(circle, rgba(232,224,219,1) 0%, rgba(66,136,124,0.10129310344827591) 100%);
  border-bottom: 1px solid rgb(40, 56, 55);
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  width: 400px;
}

/* Estilos para el rango de precios */
#precio {
  width: 80%; /* Ajusta el ancho según tus preferencias */
  height: 5px;
  margin-bottom: 10px; /* Margen inferior para separar del botón */
  background-color: #000000; /* Color de fondo de la barra de rango */
  outline: none; /* Elimina el borde en enfoque (resaltado) */
  appearance: none; /* Elimina los estilos de apariencia predeterminados (útil para navegadores webkit) */
  border-radius: 5px;
}

/* Estilos para el valor actual del rango de precios */
#precio-actual {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px; 
}

/* Estilo del control deslizante (puntero) de la barra de rango */
#precio::-webkit-slider-thumb {
  appearance: none; /* Elimina los estilos de apariencia predeterminados para navegadores webkit */
  width: 15px; /* Ancho del control deslizante */
  height: 15px; /* Altura del control deslizante */
  border-radius: 50%; /* Hace que el control deslizante tenga forma de círculo */
  background-color: #000000; /* Color del control deslizante */
  cursor: pointer; /* Cambia el cursor al pasar por encima del control deslizante */
}

/* cesta de compras */

#botcesta{
  position: relative;
  cursor: pointer;
  margin-left: 90%;
  border: none;
  background: none;
}
#cart{
  display: none;
  position: relative;
  margin-left: 80%;

}
#checkout{
  border: none;
  color: antiquewhite;
  background: #000;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}
.add-to-cart{
  position: relative;
  border: none;
  background: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
}